:root {
  --main-clr: rgb(255, 248, 239);

  --border-template: 6px dashed rgb(175, 212, 238);
  --outline-template: 3px dashed rgb(175, 212, 238);
}

@font-face {
  font-family: "uglyqua";
  src: url(./fonts/UglyQua.ttf);
}

@font-face {
  font-family: "aquilinetwo";
  src: url(./fonts/AquilineTwo.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  display: grid;
  grid-template-rows: minmax(60px, auto) 1fr minmax(60px, auto);
  align-items: center;

  gap: 1rem;
  padding: min(16px, 2.4%);
  margin: 0 auto;

  max-width: 1200px;
  min-height: 100dvh;

  background-color: var(--main-clr);
}

body > * {
  border: var(--border-template);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "aquilinetwo";
  color: #3b3e5a;
  /* color: #50230d; */
}

header,
footer {
  text-align: center;

  padding: min(16px, 2%);

  background-color: rgb(241, 226, 255);
}

header h1 {
  font-size: 3rem;
  line-height: 1.6;
}

main {
  height: 100%;
  background-color: #f9f3e2;

  background-image: url(./img/medievalreiki.svg);
  background-size: min(90%, 900px) auto;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));

  gap: 1rem;
  padding: min(16px, 2.4%);
  height: 100%;
}

.main-grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgb(240, 236, 195); */

  min-height: 300px;

  padding: min(16px, 3%);
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  text-align: center;
}

.main-grid-cell h2 {
  font-size: 3rem;
  line-height: 1.6;
}

.info-section p {
  font-family: "uglyqua";
  font-size: 1.4rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-section h2 {
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  max-width: 400px;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.4rem;

  margin-block-end: 0.5rem;
  /* padding-block-end: 1rem; */

  /* background-color: rgba(229, 168, 229, 0.5);
  outline: var(--outline-template); */
}

.form-row label {
  font-family: "uglyqua";
  font-weight: 900;
  font-size: 1.2rem;
}
